10.72.0.1 local.ffhi
fd8a:6551:7b84::1 local.ffhi

fd8a:6551:7b84::2 gw02.ffhi 2.ntp.services.ffhi 3.ntp.services.ffhi
10.72.0.12 gw02.ffhi 2.ntp.services.ffhi 3.ntp.services.ffhi

fd8a:6551:7b84::2 2.updates.services.ffhi
10.72.0.12 2.updates.services.ffhi

fd8a:6551:7b84:0:5478:c2ff:fe85:d7a5 map.ffhi mumble.ffhi firmware.ffhi
10.72.0.30 map.ffhi mumble.ffhi
